<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{{ page.title | default: site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400&display=swap" crossorigin>
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/rouge.css' | relative_url }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.nav_title }}</a></h1>
  </header>
  {{ content }}
</body>
</html>
